{% extends 'base.html.twig' %}



{% block body %}
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body"> Widget settings form goes here </div>
        </div>
        <div class="clearfix"></div>
        <div class="content">
            <ul class="breadcrumb">
            <li>
                <p></p>
            </li>
            <li><a href="#" class="active">Lista de estudiantes</a> </li>
        </ul>
        <div class="page-title"> <i class="icon-custom-left"></i>
            <h3>Lista de  <span class="semi-bold">estudiantes</span></h3>
        </div>
        {#<div class="pull-left" id="Filters">
            <div class="btn-group">
                <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-demo-space"> <span class="anim150">Region</span> <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li class="active" data-filter="all" data-dimension="region"><a href="#">All</a></li>
                    <li data-filter="alaska" data-dimension="region"><a href="#">Alaska</a></li>
                    <li data-filter="intermountain" data-dimension="region"><a href="#">Intermountain</a></li>
                    <li data-filter="northeast" data-dimension="region"><a href="#">Northeast</a></li>
                    <li data-filter="pacific_west" data-dimension="region"><a href="#">Pacific</a> </li>
                    <li data-filter="southeast" data-dimension="region"><a href="#">Southeast</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-demo-space"> <span class="anim150">Recreation</span> <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li class="active" data-filter="all" data-dimension="recreation"><a href="#">All</a></li>
                    <li data-filter="camping" data-dimension="recreation"><a href="#">Camping</a></li>
                    <li data-filter="climbing" data-dimension="recreation"><a href="#">Climbing</a></li>
                    <li data-filter="fishing" data-dimension="recreation"><a href="#">Fishing</a></li>
                    <li data-filter="swimming" data-dimension="recreation"><a href="#">AlSwimmingl</a></li>
                </ul>
            </div>
        </div>#}
        <div class="pull-right">
            <div data-toggle="buttons-radio" class="btn-group">
                <button class="btn btn-primary active" type="button" id="ToList"><i class="fa fa-th-list"></i></button>
                <button class="btn btn-primary" type="button" id="ToGrid"><i class="fa fa-th-large"></i></button>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div id="Parks" class="just">
            <!-- "TABLE" HEADER CONTAINING SORT BUTTONS (HIDDEN IN GRID MODE)-->
            <div class="list_header">
                <div class="meta name active desc" id="SortByName"> Name &nbsp; <span class="sort anim150 asc active" data-sort="data-name" data-order="desc"></span> <span class="sort anim150 desc" data-sort="data-name" data-order="asc"></span> </div>
                <div class="meta region">Codigo</div>
                <div class="meta rec">Etapa</div>
                <div class="meta rec">Rango</div>
                <div class="meta area" id="SortByArea"> Asistencia &nbsp; <span class="sort anim150 asc" data-sort="data-area" data-order="asc"></span> <span class="sort anim150 desc" data-sort="data-area" data-order="desc"></span> </div>
            </div>
            <!-- FAIL ELEMENT -->
            <div class="fail_element anim250">Sorry &mdash; we could not find any parks matching matching these criteria</div>
            <!-- BEGIN LIST OF PARKS (MANY OF THESE ELEMENTS ARE VISIBLE ONLY IN LIST MODE)-->
            <ul>
                <li class="mix northeast camping climbing fishing swimming" data-name="Gutierrez" data-area="47452.80">
                    <div class="meta name">
                        <div class="img_wrapper">
                            <img src="https://avatars1.githubusercontent.com/u/1090336?s=460&v=4" alt="Cesar" />
                        </div>
                        <div class="titles">
                            <h2>Gutierrez Tineo</h2>
                            <p><em>Cesar</em></p>
                        </div>
                    </div>
                    <div class="meta region">
                        <p>Circuito</p>
                    </div>
                    <div class="meta rec">
                        -
                    </div>
                    <div class="meta area">
                        <p><button class="btn btn-success ">Ver asistencia</button></p>
                        <p><a class="btn btn-success " href="{{ path('alumno') }}">Seguimiento</a></p>
                    </div>
                </li>
                <!-- END LIST OF PARKS -->
            </ul>
        </div>
    </div></div>
{% endblock %}